*{
    box-sizing: border-box;
}

:root{
    --color-base: #1B274C;
}

/*menu*/

.op-menu{
    color: white;
    background-color: var(--color-base);
    min-height: 100px;
    height: auto;
}

.logo{
    padding-left: 20px;
    width: 100%;
    height: 60px;
}

.logo img{
    width: 60px;
    height: 60px;
}

.op-menu ul{
    padding-right: 20px;
    width: 100%;
    display: flex;
    list-style: none;
}
.op-menu li{
    text-align: center;
    width: 100px;
    max-width: 100px;
    transition: all 0.5s;
}

.op-menu a{
    text-decoration: none;
}

.op-menu li.c,
.op-menu li:hover{
    color: white;
    border-bottom: 4px solid;
    transition: all 0.5s;

}